/* CSS for Donation Portal */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #EFF1F3; /* Background color */
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF; /* Container background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #223843; /* Heading color */
}

/* Input box styles */
.input-box {
    margin-bottom: 20px;
}

/* Label styles */
label {
    display: block;
    margin-bottom: 5px;
    color: #555555; /* Label color */
}

/* Input styles */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #CCCCCC; /* Border color */
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Button styles */
button {
    width: 100%;
    padding: 12px;
    background-color: #D77A61; /* Button background color */
    color: #FFFFFF; /* Button text color */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button:hover {
    background-color: #D8B4A0; /* Button hover background color */
}
